*{
    background-image: url(https://wallpapertag.com/wallpaper/full/2/c/2/268489-large-red-background-1920x1080-images.jpg);
    background-attachment: fixed;
    background-position-x: center;
    background-blend-mode: difference;
}
.marco{
    width: 23%;
    margin: 1%;
    text-align: center;
    background-color: #ff004e;
}
.marco img{
    width: 50%;
}
.marco div{
    display: flex;
    background: none;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.header{
    width: 100%;
}
.header .flex{
    justify-content: space-around;
}
.cuerpo .cuerpo{
    width: 90%;
    text-align: -webkit-center;
}
.cuerpo hr{
    width: -webkit-fill-available;
}


.ng{
    align-items: center;
    text-align: center;
    width: 80%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 2%;
}

.ng div{
    width: 25%;
}

.ng div img{
    width: 30%;
}