/* https://utpac-my.sharepoint.com/:w:/r/personal/antonio_sevillano_utp_ac_pa/_layouts/15/Doc.aspx?sourcedoc=%7B26BAB4E9-53F0-4531-938D-FA9033E34C37%7D&file=Proyecto%20ING%20WEB.docx&action=default&mobileredirect=true 
Paleta de colores
*/

/*Template nav_bar*/
.menucontainer{
    display: flex;
    justify-content: space-between;
    height: 10%;
}
.menu {
    display: flex;
    text-align: center;
    padding: 0;
    margin-right: 6vw;
}
.menu li {
    list-style: none;
    margin-top: 8px;
    border-color: black;
}
.menu li a {
    text-decoration: none;
    color: white;
    font-weight: 550;
    padding: 20px 15px ;
    transition: 0.5s;
    margin: 0 4px;
}
.menu li a:hover {
    background-color: rgba(67, 64, 64, 0.534); 
    border-radius: 10px;
}
.logo {
    width: 5vw;
    height: 10vh;
    margin-left: 15px;
    margin-top: 8px;
}
.sesiones {
    margin-top: 25px;
    margin-bottom: 27px;
    margin-right: 20px;
}
strong {
    margin-right: 11px;
    border-radius: 10px;
    background-color: rgba(37, 26, 26, 0.29);
    cursor: pointer;
    color: white;
    padding: 10px;
}
.sesiones strong .lr {
    text-decoration: none;
    color: white;
}



/* overall */
*{
    color: white;
    background-attachment: fixed;
}
.background{
    background: none;
}
body{
    align-items: center;
    background-color: #253655;
    width: 100%;
    margin-left: 0%;
    margin-right: 0%
}
.flex{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    align-items: center;
}
.titulo{
    font-family: Arial, Helvetica, sans-serif;
    word-wrap: break-word;
    background: none;
    text-decoration: none;
    margin-bottom: auto;
    padding-bottom: 2%;
}
/* Error */
.error{
    text-align: center;
}
.error img{
    width: 150px;
}
.e404{
    margin-top: 5%;
    text-align: center;
}

/* first section */
.header{
    text-align: center;
    height: 20%;
}
.header img{
    width: 15%;
}

/* Equipos Section */
.cuerpo{
    height: 70%;
}
.equipo{
    text-align: center;
    width: 15%;
    margin: 1%;
    vertical-align: middle;
}
.equipo:hover{
    width: 20%;
    background-color: #415679;
}
.equipo img{
    width: 50%;
    border-radius: 10%;
}
.equipo .titulo{
    height: 50%;
}
